body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 5%;
    padding: 0;
    text-align: center;
    align-items: center;

}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h2, h3 {
    color: #333;
}

p {
    margin: 10px 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
